temp
ignore
.cache
.artifacts

.planning
!.planning/.gitkeep

*.log

# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# create-terminatui build output
packages/create-terminatui/bin

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
