name: Pull Request

on:
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install prerequisites
        run: |
          chmod +x .devcontainer/install-prerequisites.sh
          ./.devcontainer/install-prerequisites.sh
          echo "$HOME/.bun/bin" >> $GITHUB_PATH
          echo "$HOME/.bun/global/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: bun test
