name: Pull Request

on:
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install prerequisites
        run: |
          curl -fsSL https://bun.com/install | bash

          echo "$HOME/.bun/bin" >> $GITHUB_PATH
          echo "$HOME/.bun/global/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: bun install

      - name: Build all packages
        run: bun run build

      - name: Run all tests
        run: bun run test
